*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: Helvetica;
  background-color: hsl(0, 0%, 5%);
  overflow-x: hidden;
  color: #f7f7f7;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 5%);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  /* box-shadow: 0 0 18px -10px rgb(79, 230, 49); */
  box-shadow: 0 0 18px -10px rgb(49, 179, 230);
  /* position: absolute; */
}

header div.logo   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

header div.logo img {
  width: 28vw;
  height: auto;
  filter: invert(.98) hue-rotate(200deg);
}

header div.logo p {
  font-size: 2rem;
  color: #f7f7f7;
  margin-top: 14px;
  letter-spacing: 2px;
}

header div.links {
  position: absolute;
  bottom: -36px;
  right: 40px;
  /* margin-top: 24px;
  margin-bottom: 10px; */
  
  /* box-shadow: 0 0 18px -10px rgb(49, 179, 230); */
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

header div.links .link {
   text-decoration: none;
   color: hsl(0, 0%, 5%);
   font-size: 1.6rem;
   transition: all .2s ease;
   backface-visibility: hidden;
   background-color: rgb(79, 230, 49);
   height: 40px;
   width: auto;
   padding: 10px;
   margin: 0;
   display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  /* border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%; */
}

header div.links .link:hover {
  /* text-shadow: 0 0px 10px rgb(79, 230, 49); */
  transform: rotateX(-18deg) scaleY(.99);
  background-color: rgb(197, 230, 49);
}

header div.links .link:not(:first-child) {
  /* border-radius: 50% 40% 40% 50% / 40% 40% 50% 50%; */
  margin-left: 10px;
}

/* EPISODES */

.episode-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  margin-top: 50px;
}

.episode-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.episode-box {
  margin: 20px 0px 20px 40px;
  padding: 10px;
  font-size: 1rem;
  height: 236px;
  width: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(0, 0%, 5%);
  box-shadow: 0 0 18px -10px rgb(49, 179, 230);
  color: #f7f7f7;
  transition: all .3s ease;
  animation: fade .3s ease;
}

.episode-box:hover {
  box-shadow: 0 10px 24px -16px rgb(49, 179, 230);
  /* transform: translateY(-1px) scale(1.001); */
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  .episode-count {
    color: #f7f7f7;
    font-size: 1.6rem;
    margin: 20px 0 20px 40px;
  }

  .episode-info{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    
  }
  .episode-info>div{
    font-weight: bold;
    width: auto;
  }
  .episode-info>section{
    font-size: 1.2rem;
  width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .episode-info>section > .fas.fa-heart {
    color: rgb(79, 230, 49);
    font-size: 2rem;
    transition: all .2s ease;
    margin-right: 5px;
    cursor: pointer;
  }
  .episode-info>section > .far.fa-heart {
    color: rgb(79, 230, 49);
    font-size: 2rem;
    transition: all .2s ease;
    margin-right: 5px;
    cursor: pointer;
  }

.episode-link {
  text-decoration: none;
  color: #f7f7f7;
  transition: all .4s ease;
}
.episode-link:hover,
.episode-link:focus {
  color: rgb(197, 230, 49);
  text-decoration: underline;
  text-decoration-color: rgb(197, 230, 49);
}