html {
  font-size: 12px;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: Helvetica;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
}
.episode-box {
  padding: .5rem;
  font-size: 1rem;
  height: 200px;
  /* border: 1px solid red; */
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
  padding: .5rem;
  position: sticky;
  top: 0;
}
